<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="framingCenter/layout/framingCenterLayout" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	lang="en">
<head>
<title th:text="#{ds.fc.title}">Deep Studio</title>
<script type="text/javascript">
	$(document).ready(function() {
		$('#pvqExpenseTypeDataTable').DataTable();
	});	
</script>
</head>
<body>
	<div layout:fragment="content" class="container">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"
					th:text="#{fc.expenseType.table.caption}">Panel title</h3>
			</div>
			<div class="panel-body">
				<table class="table table-hover table-striped table-condensed" id="pvqExpenseTypeDataTable">
					<thead>
						<tr>
							<th scope="col" th:text="#{fc.expenseType.expenseTypeId.label}">Id</th>
							<th scope="col"
								th:text="#{fc.expenseType.expenseTypeName.label}">PVQ
								ConcernType Name</th>
							<th scope="col"
								th:text="#{fc.expenseType.expenseTypeDesc.label}">PVQ
								ConcernType Description</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="fi : ${expenseList}">
							<td th:text="${fi.expenseTypeId}">1</td>
							<td th:text="${fi.expenseTypeName}">George</td>
							<td th:text="${fi.expenseTypeDesc}">Washington</td>
							<td>
							<div sec:authorize="hasRole('ADMIN')">
							<a
								th:href="@{/expenseManager/expenseType/edit(expenseId=${fi.expenseTypeId})}"><span
									class="glyphicon glyphicon-pencil"></span></a> 
							<a
								onclick="return removeRecord();"
								th:href="@{/expenseManager/expenseType/delete(expenseId=${fi.expenseTypeId})}"><span
									class="glyphicon glyphicon-remove-circle"></span></a>
							</div></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="panel panel-default" sec:authorize="hasRole('ADMIN')">
			<div class="panel-heading">
				<h3 class="panel-title">Expense Type</h3>
			</div>
			<div class="panel-body">
				<form action="#" th:action="@{/expenseManager/expenseType/create}"
					th:object="${objExpense}" method="post" enctype="multipart/form-data"
					class="form-inline">
					<ul th:if="${#fields.hasErrors('*')}" class="bg-danger">
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input
							is incorrect</li>
					</ul>

					<div class="form-group">
						<label class="sr-only" for="eType">Type</label> <input type="hidden" th:field="*{expenseTypeId}" /> <input
							class="form-control" type="text" id="cType" th:field="*{expenseTypeName}"
							th:errorclass="fieldError" th:placeholder="#{fc.expenseType.expenseTypeName.label}" />
					</div>
					<div class="form-group">
						<label class="sr-only" for="edescription">Description</label>
						<input class="form-control" type="text" id="cdescription"
										th:field="*{expenseTypeDesc}" th:placeholder="#{fc.expenseType.expenseTypeDesc.label}" />
					</div>
					<button type="submit" class="btn btn-primary"
											th:text="#{${expenseType + '.expesneInfo.button.label'}}">Action</button>					
				</form>
			</div>
		</div>

	</div>
</body>
</html>